/*
		 
			Proyecto : 	.cloud
			Autor :		Antonio Juan Sánchez Martín
			Fecha : 	5 / 11 /2012
			
*/

body
{
		background: 	#f5f5f5 url(../imagenes/fondo_explorador_archivos.jpg) top left no-repeat;
}

#explorador_archivos_capa
{	
		position:		absolute;
		display: 		block;	
		width:			20%;	        
		margin: 		0;
        bottom: 		0;
        left: 			0;
        right: 			0;	
        top:			100px;	
}



#input_buscador_archivos_capa
{
		position: 		absolute;
		background:		#FFF url(../imagenes/lupa.gif) top left no-repeat;
		padding: 		2px;
		padding-left:	30px;
		top: 			0px;
		height: 		20px;
		margin: 		0;
        bottom: 		0;
        left: 			5px;
        right: 			5px;
        border-radius: 	10px;
        border: 		2px solid #CCC;		
}

#input_buscador_archivos_capa #buscador
{
		text-align:		left;
		width: 			90%;	
		height:			100%;	
}


#explorador_archivos
{
		position:		absolute;
		display: 		block;		
		width: 			100%;	
		margin: 		0;			
		bottom: 		0;
        left: 			5px;
        right: 			0;	
        top:			0;
}

#explorador_archivos_capa .scroll-pane
{
		position:		absolute;
		display: 		block;	
		width:			100%;		
		margin: 		0;		
		bottom: 		0;
        left: 			5px;
        right: 			0;	
        top: 			40px;
}


.jqueryFileTree li.directorio 
{
		background: url(../imagenes/extensiones/directory.png) left top no-repeat;
}

.sololectura a 
{
		color:			#89653e !important;
		font-style: 	italic;
}

/*  ----------------- Cargador --------------- */

#explorador_archivos_carga img
{
		margin-top: 	30px;
}

#explorador_archivos_carga
{
		position:		absolute;	
		display: 		none;
		margin: 		0;			
		bottom: 		5px;
        left: 			5px;
        right: 			5px;	
        top:			0px;
        background:		#FFF;
        border-radius: 	10px;
        text-align: 	center;
        vertical-align: middle;
}

/*  ----------- Menú contextual --------------- */

#jqContextMenu
{
	background: 		#fff;
	padding: 			5px;
	border:				1px solid #CCC;
	width: 				150px; 		
}
#jqContextMenu ul
{
	width: 				150px; 	
}
#jqContextMenu li
{
	padding: 			5px;	
	font-size: 			0.9em;}
#jqContextMenu li:hover
{
	background: 		#EEE;
	color:				#89653e;	
}